.modal.fade#background
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          Adopt a Drain Savannah Background
      .modal-body
        %h3
          Introduction
        %p
          The Adopt a Drain Savannah program enables Savannah residents to "adopt"
          one of the city's storm drains or catch basins and pledge to keep it
          free of leaves, dirt, litter, and other debris. The program helps reduce 
          localized flooding and fosters community engagement by encouraging the
          public to take an active role in improving their neighborhood.
          
        %h3
          Partners

        %p
          OpenSavannah and other volunteers used a web-based
          platform called <a
          href="https://github.com/opensavannah/adopt-a-drain">Github</a> to
          develop the open source web application on <a
          href="http://rubyonrails.org/">Ruby on Rails</a>. Github enabled
          contributors to work on the project from anywhere in the world.  They
          modeled Adopt a Drain Savannah on Boston's <a
          href="http://www.adoptahydrant.org/">Adopt a Hydrant</a>, for which
          Code for America provided initial development support in 2012.

        %p

        %h3
        Contributors
        
        <b>PROJECT DEVELOPMENT LEAD: Robert Hammond</b>
        <b>CITY LIASON: Laura Walker (lwalker@savannahga.gov)</b>
        %p

        %h3
          Contact
        %p
          Email questions and feedback to <a
          href="mailto:Info@adopt-a-drain-savannah.org?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)}">Info@adopt-a-drain-savannah.org</a>. By closing this window, you acknowledge you have read the terms and conditions.

      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
