.modal.fade#guidelines
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          What does it mean to adopt a drain?
      .modal-body
        %p.lead
          %strong
            Volunteer Guidelines:
            Thank you for your dedication to Savannah. Your well-being and enjoyment are important to us. All volunteers are expected to conduct themselves in a safe, courteous and legal manner while participating in activities on City property or right-of-way. All volunteers must please follow the following guidelines when volunteering to keep drains clear of debris:
        %h3
          Safety tips
        %ul
          %li
            Wear highly visible, brightly colored or reflective clothing to alert traffic and drivers
          %li
            Please contact 311 Savannah (dial 311 or 
            =link_to("submit online","https://www.savannahga.gov/FormCenter/311-5/311-Service-Request-Form-36", :target => "_blank")
            ) to report any storm drains which appear to be broken or otherwise damaged
          %li
            Do not go into storm drains and do not block travel lanes
          %li
            Cross streets at signals or crosswalks, not mid-block.
          %li
            Wear durable or heavy, closed toe, shoes/boots, preferably with ankle support.
          %li
            Wear gloves and durable pants, tops, jackets, and hats. Keep hydrated.
          %li
            Collect the debris from the sidewalk and stay out of the road whenever possible.
          %li
            Work facing traffic.
          %li
            Use a rake, shovel or other tool to remove material from the storm drain, NOT your hands. Do not use power tools. Carry tools carefully to avoid hitting others. Always use the right tools for the job.
          %li
            Be aware of your surroundings, make sure to watch for cars; whenever possible, work with a partner who can watch for traffic hazards while you are cleaning the storm drain.
          %li
            Never attempt to clear debris if there is moving water greater than knee deep.
          %li
            Be cautious when walking on potential slippery and uneven surfaces.
          %li
            Wash hands and any clothing after contact with stormwater runoff, which can contain pollutants, including bacteria. Have first aid supplies available.
          %li
            Call 911 for emergencies.
        %h3
          Debris Removal
        %ul
          %li
            Never touch hazardous or medical waste (including syringes).
          %li
            Always sweep, rake or shovel glass. 
            %strong 
              Never pick up sharp objects with your hands
          %li
            Please, report illegal dumping of waste or pollutants to the City of Savannah (dial 311 or 
            =link_to("submit online","https://www.savannahga.gov/FormCenter/311-5/311-Service-Request-Form-36", :target => "_blank")
            )
          %li
            Only pick up debris that is on top of the drain. Do NOT enter or reach inside drain to retrieve trash or debris.
          %li
            Do NOT remove the grate cover from the storm drain opening
          %li
            Use a broom to sweep up remaining sediment or debris around the drain
          %li
            Do not leave debris near the drain or on the green belt, please dispose recyclables, organic waste (if free of trash) and garbage into home recycling, compost or refuse containers. If the volume of material is too large to transport back to your home, please call the Stormwater Program and they will make arrangements to pick up the debris.
          %li
            Please contact the City of Savannah (dial 311 or 
            =link_to("submit online","https://www.savannahga.gov/FormCenter/311-5/311-Service-Request-Form-36", :target => "_blank")
            ) to report any storm drains which are full inside with debris and need mechanical cleaning to remove debris from bottom of drains.
        %h3
          General Conduct
        %ul
          %li
            Always be courteous to fellow volunteers and City employees.
          %li
            Never use vulgar language or engage in threatening or disruptive actions.
          %li
            Never make unauthorized changes to City property or right-of-way, including landscaping.
          %li
            Keep foreign mulch and soils off City property and right-of-way, unless pre-authorized by the Stormwater Program.
        %p
          %em
            Note: The City reserves the right to immediately withdraw support for any volunteer if, at the sole discretion of the City, the volunteer’s conduct while participating in volunteer activities on City property or right-of-way is determined to be inconsistent with these Volunteer Guidelines or violates any local, state or federal law.     .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
