.modal.fade#tos
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          = t("titles.tos")
      .modal-body
        %ol
          %li
            %h3
              Acceptance of Terms
            %p
              The City of Durham (&quot;City&quot;) provides the Adopt-a-Drain program (&quot;AAD&quot;) to you subject to the following Terms of Service Agreement (&quot;Agreement&quot;) which may be updated by us from time to time without notice to you. By accessing and using AAD, you accept and agree to be bound by the terms and provision of this Agreement.
          %li
            %h3
              Description of Adopt-a-Drain
            %p
              Adopt-a-Drain is an initiative of the City to encourage residents to prevent debris from clogging storm drains and to prevent litter from entering waterways. The AAD website allows users to &quot;adopt&quot; a City-owned storm drain, or state that you intend to help remove leaves, dirt, litter and debris near the storm drain.
            %p
              Unless explicitly stated otherwise, any new features that augment or enhance AAD are covered by this Agreement.
          %li
            %h3
              Obligations
            %p
              If you choose to adopt a storm drain using the AAD website, you are under no obligation and have no responsibility to actually remove leaves and litter on or near that storm drain or any storm drain.
          %li
            %h3
              Termination of Obligations
            %p
              The City may, without prior notice, immediately terminate, limit your access to, or suspend your AAD service. Cause for such termination, limitation of access, or suspension shall include but not be limited to:
              %ol.alpha
                %li
                  breaches or violations of this Agreement or other incorporated agreements or guidelines,
                %li
                  requests by law enforcement or other government agencies,
                %li
                  discontinuance or material modification to AAD (or any part thereof),
                %li
                  unexpected technical or security issues or problems,
                %li
                  extended periods of inactivity,
                %li
                  engagement by you in fraudulent or illegal activities.
            %li
            %h3
              City Public Records Policy
            %p
              Registration data, as well as data you submit using AAD, are subject to all applicable City, State and Federal public records laws.
          %li
          
          %li
            %h3
              Indemnity
            %p
              You agree to indemnify and hold the City and its subsidiaries, affiliates, officers, agents, employees, partners, and licensors harmless from any claim or demand (including reasonable attorneys' fees) made by any third party due to or arising out of:
              %ol.alpha
                %li
                  Content you submit or otherwise make available through AAD,
                %li
                  your use of AAD,
                %li
                  your connection to AAD,
                %li
                  your violation of this Agreement,
                %li
                  your violation of any Rights of another.
          %li
            %h3
              Modifications to Adopt-a-Drain
            %p
              The City reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, AAD (or any part thereof) with or without notice. You agree that the City shall not be liable to you or to any third party for any modification, suspension or discontinuance of the AAD (or any part thereof).
         
            %h3
              Notice
            %p
              The City may provide you with notices regarding AAD, including changes to this Agreement, by email, SMS, text message, postings on AAD, or any other reasonable means now known or hereafter developed. Notices shall be effective immediately.
            %li
            %h3
              Minor
            %p
              You represent that you are 13 years of age or older and, if you are under the age of 18, you either are an emancipated minor, or have obtained the legal consent of your parent or legal guardian to accept and agree to be bound by the terms and provisions of this Agreement.
            %p
              If you have agreed to allow your minor child, or a child for whom you are legal guardian (&quot;Minor&quot;), to use AAD, you agree that you shall be solely responsible for:
              %ol.alpha
                %li
                  the online conduct of such Minor,
                %li
                  monitoring such Minor’s access to and use of AAD, and
                %li
                  the consequences of any use of AAD by such Minor.
          %li
            %h3
              Governing Law and Venue
            %p
              This Agreement is governed by the laws of the State of North Carolina without regard to any conflict of law provisions. You agree that any claim or dispute with the City relating in any way to your use of AAD shall be brought exclusively before a state or federal court sitting in
              Durham, North Carolina, and you irrevocably waive any jurisdictional, venue, or inconvenient forum objections to such courts.
          %li
            %h3
              Miscellaneous
            %p
              This Agreement constitutes the entire agreement between you and the City with respect to your use of AAD, superseding any prior version of this Agreement between you and the City with respect to AAD.
            %p
              If any provision of this Agreement shall be unlawful, void, or unenforceable, then that provision shall be deemed severed from this Agreement and shall not affect the validity or enforceability of the remaining provisions of this Agreement.
            %p
              The City's failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision.
            %p
              You agree that any cause of action arising out of or related to your use of AAD must commence within one year after the cause of action accrues. Otherwise, such cause of action is permanently barred.
            %p
              The section titles in this Agreement are for convenience only and have no legal or contractual effect.
        %p
          Last updated Feb 1, 2019.
      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
