.modal.fade#tos
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          = t("titles.tos")
      .modal-body
        %ol
          %li
            %h3
              Acceptance of Terms
            %p
              I hereby state that I am voluntarily participating in the Adopt a Drain volunteer program and that I am 18 years of age or older. I have carefully read this agreement, and fully understand its contents. I am aware that this contains a release of liability and I am signing it of my own free will.
            %p
              I have read, understand, and agree to follow the Volunteer Guidelines on safety and debris removal stated above. I hereby grant permission to Adopt a Drain to use photographs of me taken during this activity on its website and in other publications, at Adopt a Drain's sole discretion and without any consideration.
            %p
              I also agree that I will notify Savannah Public Works immediately via the Adopt-a- Drain website if, at any point, I wish to discontinue my service as an Adopt-a-Drain volunteer.
            %p
              I understand that as a volunteer I control the dates and times when I do the work and that Adopt a Drain is not responsible for scheduling my volunteer work or monitoring my compliance with the guidelines.
            %p
              I also affirm that I am receiving no compensation or other consideration for my participation and that I have read, understand, and freely and willingly agree to the release and hold harmless provisions stated below.
            %p
              I acknowledge my participation in these events does not come without the risk of injury or harm. As to my relationship with Adopt a Drain, I accept this risk, and assume responsibility for all liability and risk associated with my participation. I am aware that my participation may require me to stand, lift or carry heavy objects or objects that may cause injury for periods of time.
            %p
              I understand that this activity will require me to exercise reasonable care to avoid injury, including care in how I transport debris or walk on uneven or potentially slippery surfaces.
            %p
              I understand that some of these risks might include injury from cars, illness, danger from crossing streets (cars and other vehicles), using handle tools, and other miscellaneous activities I may engage in while cleaning storm drains.
            %p
              I understand that these activities may occur in all weather conditions and at all hours of the day. I understand and acknowledge that I am voluntarily participating in this activity with the knowledge of the hazards and potential dangers involved and agree to accept any and all risks of personal injury and property loss or damage.
            %p
              With full knowledge and understanding of the above, I, and on behalf of my heirs, executors, administrators, assigns, and all of my family members, hereby agree to hold harmless, release, waive and forever discharge Adopt a Drain, its employees, departments, officers and agents, from any and all claims or demands I may have by reason of any accident, illness, injury, loss, destruction or damage to property, arising or resulting directly or indirectly from my participation in this activity, whether or not it arises from the negligence of Adopt a Drain in its construction, maintenance and repair of the stormwater system.
            %p
              I, and on behalf of my heirs, executors, administrators, assigns, and all of my family members, further promise not to bring any legal action against Adtop a Drain, its employees, departments, officers and agents, for any injury, loss or damage resulting from my participation in this activity, whether or not it arises from the negligence of Adopt a Drain in its construction, maintenance and repair of the stormwater system.
            %p
              This Acknowledgement, Waiver and Release is contractual and not a mere recital and applies whether or not injury or loss resulting from this activity is caused by an act or omission of Adopt Drain, its employees, departments, officers or agents, negligent or otherwise.
            %p
              This Acknowledgement, Waiver and Release is binding on my heirs, executors, administrators, assigns, and all of my family members, and applies to all losses, whether known or unknown, suspected or unsuspected, related to my participation in this activity.
            %p       
          Last updated Oct 12, 2019.
      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
