.modal.fade#tos
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          = t("titles.tos")
      .modal-body
        %ol
          %li
            %h3
              RELEASE AND WAIVER OF LIABILITY AGREEMENT
            %p
              I acknowledge that I intend to voluntarily participate in the Adopt A Drain program on property owned by the City of Savannah.
            %p
              I AM AWARE THAT I COULD SUSTAIN SERIOUS INJURY OR EVEN DEATH.  I AM VOLUNTARILY PARTICIPATING IN THIS ACTIVITY WITH KNOWLEDGE OF THE DANGER INVOLVED, AND AGREE TO ASSUME ANY AND ALL RISKS OF BODILY INJURY, DEATH OR PROPERTY DAMAGE, WHETHER THOSE RISKS ARE KNOWN OR UNKNOWN.
            %p
              As consideration for being permitted by the Mayor and Aldermen of the City of Savannah (the “City”) and the Savannah Water Resources Division to participate in the Adopt A Drain activity on City owned property, I forever release the City and the Water Resources Division, any affiliated organization, their respective directors, officers, employees, volunteers, agents, contractors, and representatives (collectively “Releasees”) from any and all actions, claims, or demands that I, my assignees, heirs, distributees, guardians, next of kin, spouse and/or legal representatives now have, or may have in the future, for injury death, or property damage, related to (i) my participation in this activity; (2) the negligence or other acts, whether directly connected to this activity or not, and however caused, by any Releasee, or (iii) the condition of the premises where this activity occurs, whether or not I am then participating in the activity.  I also agree that I, my assignees, heirs, distributees, guardians, next of kin, spouse and legal representatives may not make a claim against, sue, or attach the property of any Releasee in connection with any of the matters covered by the foregoing Release.
            %p
              I expressly acknowledge that my participation in the Adopt A Drain program on City /Water Resources property is completely voluntary.
            %p
              I HAVE CAREFULLY READ THIS AGREEMENT AND FULLY UNDERSTAND ITS CONTENTS.  I AM AWARE THAT THIS IS A RELEASE OF LIABILITY AND A CONTRACT BETWEEN MYSELF AND THE CITY AND WATER RESOURCES AND SIGN IT OF MY OWN FREE WILL.       
          Last updated Feb 16, 2020.
      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
