%h1
    Cleaning Reported
%p
    Thank you for cleaning your drain!  Keeping our waterways clean is critical to our neighborhoods.
%button.btn.btn-default{:type => "button", :"data-dismiss" => "modal", :onclick=>"window.close(); return false"}
    Close
