<p>
  Wow! You adopted another drain. Thank you.
</p>

<p>
    Be sure to watch this <a href="https://vimeo.com/147503065">safety
      video</a> from our friends across the country.
</p>

<p>
  Thank you,
</p>

<p>
  Your friends at the San Francisco Public Utilities Commission
  <br/>
  415-554-3289
  <br/>
  <a href="mailto:info@draindurham.org">info@draindurham.org</a>
</p>

<p>
  P.S. You can take a picture with your cleared drain and tweet us at @DrainDurham!
  <a href="http://twitter.com/draindurham">http://twitter.com/draindurham</a>
</p>

<p>
  <em>
    Remember, the City and County of San Francisco won't be held responsible for
    anything that happens to you or others in service of maintaining your drain.
    Please be careful!
  </em>
</p>
