<p>
  Wow! You adopted another drain. Thank you.
</p>

<p>
    Be sure to watch this <a href="https://vimeo.com/147503065">safety
      video</a> from our friends across the country.
</p>

<p>
  Sincerely,
</p>

<p>
  Your friends at the City of Savannah
</p>

<p>
  P.S.
</p>

<em>
   Remember, the City of Savannah won't be held responsible for
  anything that happens to you or others in service of maintaining your drain.
  Please be careful!
</em>
